.emoji-card-container {
  list-style-type: none;
  width: 26%;
  border: 2px solid #ffffff30;
  border-radius: 10px;
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.emoji-btn {
  width: 100%;
  border: none;
  background-color: transparent;
}

.emoji-img {
  width: 70%;
}

@media not screen and (min-width: 400px) {
  .emoji-card-container {
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .emoji-card-container {
    width: 20%;
    padding: 30px 0px 30px 0px;
  }
  .emoji-img {
    width: 50%;
  }
}
